#header {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#navopen {
    padding: 10px;
    margin: 20px;
    width: 100px;
    border: none;
    border-radius: 15px;
}

#navopen:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#nav {
    border-radius: 15px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    width: 20vw;
    right: 1%;
    background-color: rgba(0,0,0, 0.9);
    padding: 10px;
}

#nav>a:hover, #servicediv:hover, #servicelist>a:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.15ms;
    background-color: rgb(255, 255, 255, 0.3);
}

#nav > a, #servicediv{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

#servicelist {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
}

#nav > a, #servicediv{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#servicelist > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}


#services {
    list-style: none;
}